<!DOCTYPE html>
<!--<html lang="en-US" ng-app="displayModule">-->
  <html lang="en-US">
    <head>
        <meta charset="ISO-8859-1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="http://webtech.kettering.edu/~vecc0396/cs461/kuwork/dist/css/vex.css"/>
        <link rel="stylesheet" href="http://webtech.kettering.edu/~vecc0396/cs461/kuwork/dist/css/vex-theme-os.css"/>

          <!-- Latest compiled and minified JavaScript -->
          <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
          <script src="http://webtech.kettering.edu/~vecc0396/cs461/kuwork/dist/js/vex.min.js"></script>
          <script src="http://webtech.kettering.edu/~vecc0396/cs461/kuwork/dist/js/vex.combined.min.js"></script>

    </head>
    <body>
      <div ng-app="kuWorkApp"><div ng-controller="kuWorkController as KUCtrl">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              </button>
              <a class="navbar-brand" href="#">KU Workterm</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <div>
                    <select ng-model="currentTable" ng-options="dropdown for dropdown in KUCtrl.dropDownMenu">
                    </select>
                  </div>
              </ul>
              <form class="navbar-form navbar-left">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search" ng-model="searchQuery">
                </div>
                <button type="submit" class="btn btn-default" ng-click="KUCtrl.searchTable()">Submit</button>
              </form>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

        <ul class="nav nav-pills nav-justified">
          <li role="presentation" class="btn btn-lg" data-toggle="modal" data-target="#activities">
            <a href="#" ng-click="KUCtrl.retrieveActivities()">Activities</a>
          </li>
          <li role="presentation" class="btn btn-lg" data-toggle="modal" data-target="#Companies">
            <a href="#" ng-click="KUCtrl.retrieveCompanies()">Companies</a>
          </li>
        </ul>

        <ul class="nav nav-pills nav-justified">
          <li role="presentation" class="btn btn-lg" data-toggle="modal" data-target="#Residencies">
            <a href="#" ng-click="KUCtrl.retrieveResidencies()"> Residencies</a>
          </li>
          <li role="presentation" class="btn btn-lg" data-toggle="modal" data-target="#student">
            <a href="#" ng-click="KUCtrl.retrieveStudents()"> Students</a>
          </li>
        </ul>

        <!-- Modal -->
        <div class="modal fade" id="Companies" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Companies</h4>
              </div>
              <div class="modal-body">
                <!-- item as item.label for item in items track by item.id -->
                <div ng-repeat="company in KUCtrl.companyList track by $index">
                  <div> Name: {{company.comp_name}} </div>
                  <div> Address ID: {{company.address_id}},</div>
                  <div> Description: {{company.description}}</div>
                  <button type="button" class="btn btn-primary" ng-click="KUCtrl.deleteCompany(company.comp_name)">DELETE</button>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="KUCtrl.modifyObject('company')">ADD</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="Residencies" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Residencies</h4>
              </div>
              <div class="modal-body">
                <div ng-repeat="residence in KUCtrl.residenceList track by $index">
                  <div>Residence ID: {{residence.residence_id}}</div>
                  <div>Email: {{residence.landlord_email}}</div>
                  <div>Phone: {{residence.landlord_phone_num}}</div>
                  <div>Rent: {{residence.rent | currency}}</div>
                <button type="button" class="btn btn-primary" ng-click="KUCtrl.deleteResidence(residence.residence_id)">DELETE</button>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary">ADD</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="activities" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Activities</h4>
              </div>
              <div class="modal-body">
                <div ng-repeat="activity in KUCtrl.activityList track by $index">
                  <div>Activity ID: {{activity.activity_id}}</div>
                  <div>Name: {{activity.name}}</div>
                  <div>Description: {{activity.description}}</div>
                  <div>Start date & time: {{activity.start_date}}, {{activity.start_time}}</div>
                  <div>End date & time: {{activity.end_date}}, {{activity.end_time}}</div>
                  <button type="button" class="btn btn-primary" ng-click="KUCtrl.deleteActivity(activity.activity_id)">DELETE</button>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary">ADD</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="student" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Students</h4>
              </div>
              <div class="modal-body">
                <div ng-repeat="student in KUCtrl.studentList track by $index">
                  <div>Studnt name: {{student.name}}</div>
                  <div>Class staning: {{student.class_standing}}</div>
                  <div>Major: {{student.major}}</div>
                  <div>Degree: {{student.degree}}</div>
                  <div>Phone: {{student.phone_number}}</div>
                  <div>Email: {{student.email}}</div>
                  <button type="button" class="btn btn-primary" ng-click="KUCtrl.deleteStudent(student.email)">DELETE</button>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary">ADD</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

        <script>

        //This file serves as the main controller for the whole application.
        var kuWork = angular.module('kuWorkApp', []);

        (function() {
        kuWork.controller('kuWorkController', ['$scope', '$rootScope', '$http', function($scope, $rootScope, $http) {

            var kuCtrl = this;

            kuCtrl.activityList = [];
            kuCtrl.studentList = [];
            kuCtrl.companyList = [];
            kuCtrl.resienceList = [];

            kuCtrl.dropDownMenu = [
              "student",
              "company",
              "activity",
              "residence"
            ];
            kuCtrl.modelFields = [
 	        {
    		    'table' : 'company',
    		    'fields' : [
      			{
        		    'name' : 'comp_name',
        		    'type' : 'text'
      			},
      			{
        		    'name' : 'description',
        		    'type' : 'text'
      			},
      			{
        		    'name' : 'address_id',
        		    'type' : 'integer'
      			}
    		    ]
  		}
	    ];

            vex.defaultOptions.className = 'vex-theme-os';

	    kuCtrl.capitalizeFirstLetter = function(string) {
    		return string.charAt(0).toUpperCase() + string.slice(1);
	    }


	    kuCtrl.varToSentence = function(name){
    		var words = [];
    		names = name.split("_");
    		var names_length = names.length;
    		for(var i=0; i<names_length; i++){
    		    words.push(kuCtrl.capitalizeFirstLetter(names[i]));
    		}

    		return words.join(" ");
	    }

      kuCtrl.modifyObject = function(selectedModel){

    		var mode = 'edit';
    		var key = 'id';
    		var identifier = 'KunzLeigh';
    		switch(selectedModel) {
    		  case 'company':
    		    key = 'comp_name';
    		    break;
    		  default:
    		    key = 'id';
    		}
    		var data_store = null;
    		if(mode == 'edit'){
    			$http({
      				method: 'GET',
      				url: 'http://webtech.kettering.edu/~vecc0396/cs461/kuwork/'+selectedModel+'/edit.php?'+key+'='+identifier
    			}).then(function successCallback(response) {
    				data_store = response.data;
    				//console.log(response.data);
    	//		}, function errorCallback(response) {
    	//		});

    	//	}

    		var fields = [];

    		var modelFieldsLength = kuCtrl.modelFields.length;
    		var tableFields = [];
    		var tableFieldsLength = 0;

    		for(var i=0; i<modelFieldsLength; i++){

    			if(kuCtrl.modelFields[i]["table"] == selectedModel){
    				tableFields = kuCtrl.modelFields[i]["fields"];
    				tableFieldsLength = tableFields.length;
    			}
    		}

    		for(j=0; j<tableFieldsLength; j++){
    			var field_name = tableFields[j]["name"];
    			var placeholder = (mode == 'edit') ? data_store[field_name] : kuCtrl.varToSentence(field_name);
    			var field_type = tableFields[j]["type"];
    			fields.push('<input name="'+field_name+'" type="'+field_type+'" placeholder="'+placeholder+'" />');
    		}

        vex.dialog.open({
            message: 'Enter your username and password:',
            input: fields.join(''),
            buttons: [
                $.extend({}, vex.dialog.buttons.YES, { text: 'Login' }),
                $.extend({}, vex.dialog.buttons.NO, { text: 'Back' })
            ],
            callback: function (data) {
                if (!data) {
                    console.log('Cancelled')
                } else {

            			// Simple GET request example:
            			$http({
            			  method: 'POST',
            	  		  url: 'http://webtech.kettering.edu/~vecc0396/cs461/kuwork/'+selectedModel+'/'+mode+'.php',
                      data: { data }
            			}).then(function successCallback(response) {
                    console.log(response);
            			    // this callback will be called asynchronously
            			    // when the response is available
            			  }, function errorCallback(response) {
            			    // called asynchronously if an error occurs
            			    // or server returns response with an error status.
            			  });

                                    }
                        	    }
                            });
            				}, function errorCallback(response) {
            			});

            		}

            };

            kuCtrl.searchTable = function () {
              console.log($scope.currentTable);

              console.log($scope.searchQuery);

              var searchURL = 'http://webtech.kettering.edu/~vecc0396/cs461/kuwork/search.php?table='
                    + $scope.currentTable + '&query=' + encodeURIComponent($scope.searchQuery);

              $http({
                  method: 'GET',
                  url: searchURL
              }).then(function successCallback(response) {
                  console.log("successful seach");
              }, function errorCallbac(response) {
                  console.log("Failed to search table " + $scope.currentTable);
              });

            };

            kuCtrl.deleteActivity = function (ID) {
              //Get index
              var index;
              index = kuCtrl.activityList.findIndex(x => x.activity_id==ID);

              console.log("deleting activity " + ID);
              console.log(index);

              //remove activity from array
              kuCtrl.activityList.splice(index, 1);

              console.log("attempting to delete activity");

              $http({
                  method: 'GET',
                  url: 'http://webtech.kettering.edu/~vecc0396/cs461/kuwork/activity/delete.php?activity_id=' + ID
              }).then(function successCallback(response) {
                  console.log("successfully deleted activity " + ID);
              }, function errorCallbac(response) {
                  console.log("Error, could not delete activity " + ID);
              });
            };

            kuCtrl.deleteCompany = function (ID) {
              //Get index
              var index;
              index = kuCtrl.companyList.findIndex(x => x.comp_name==ID);

              console.log("deleting company" + ID);
              console.log(index);

              //remove company from array
              kuCtrl.companyList.splice(index, 1);

              console.log("attempting to delete company");

              $http({
                  method: 'GET',
                  url: 'http://webtech.kettering.edu/~vecc0396/cs461/kuwork/company/delete.php?comp_name=' + ID
              }).then(function successCallback(response) {
                  console.log("successfully deleted company " + ID);
              }, function errorCallbac(response) {
                  console.log("Error, could not delete company " + ID);
              });
            };



            kuCtrl.deleteResidence = function (ID) {
              //Get index
              var index;
              index = kuCtrl.residenceList.findIndex(x => x.residence_id==ID);

              console.log("deleting residence " + ID);
              console.log(index);

              //remove company from array
              kuCtrl.residenceList.splice(index, 1);

              console.log("attempting to delete residence");

              $http({
                  method: 'GET',
                  url: 'http://webtech.kettering.edu/~vecc0396/cs461/kuwork/residence/delete.php?residence_id=' + ID
              }).then(function successCallback(response) {
                  console.log("successfully deleted residence " + ID);
              }, function errorCallbac(response) {
                  console.log("Error, could not delete residence " + ID);
              });
            };

            kuCtrl.deleteStudent = function (ID) {
              //Get index
              var index;
              index = kuCtrl.studentList.findIndex(x => x.email==ID);

              console.log("deleting student " + ID);
              console.log(index);

              //remove company from array
              kuCtrl.studentList.splice(index, 1);

              console.log("attempting to delete student");

              var sanitized_address = 'http://webtech.kettering.edu/~vecc0396/cs461/kuwork/student/delete.php?email=' + encodeURIComponent(ID);

	      //console.log(encodeURIComponent(unsani));
	      console.log(sanitized_address);
              $http({
                  method: 'GET',
                  url: sanitized_address
              }).then(function successCallback(response) {
                  console.log("successfully deleted student " + ID);
              }, function errorCallbac(response) {
                  console.log("Error, could not delete student " + ID);
              });
            };

            $scope.updateActivityList = function (activityInfo) {
                kuCtrl.activityList = activityInfo.data;
                console.log(kuCtrl.activityList);
            };

            $scope.updateStudentList = function (studentInfo) {
                kuCtrl.studentList = studentInfo.data;
                console.log(kuCtrl.studentList);
            };

            $scope.updateCompanyList = function (companyInfo) {
                kuCtrl.companyList = companyInfo.data;
                console.log(kuCtrl.companyList);
            };

            $scope.updateResidenceList = function (residenceInfo) {
                kuCtrl.residenceList = residenceInfo.data;
                console.log(kuCtrl.residenceList);
            };

            kuCtrl.retrieveActivities = function () {
                    console.log("retrieving activitiy list");
                    $http({
                        method: 'GET',
                        url: 'http://webtech.kettering.edu/~vecc0396/cs461/kuwork/activity/index.php'
                    }).then(function successCallback(response) {
                        console.log("success!");
                        $scope.updateActivityList(response);
                    }, function errorCallbac(response) {
                        console.log("Error, could not retrieve activities");
                    });
            };

            kuCtrl.retrieveStudents = function () {
                    console.log("retrieving student list");
                    $http({
                        method: 'GET',
                        url: 'http://webtech.kettering.edu/~vecc0396/cs461/kuwork/student/index.php'
                    }).then(function successCallback(response) {
                        console.log("success!");
                        $scope.updateStudentList(response);
                    }, function errorCallback(response) {
                        console.log("Error, could not retrieve students");
                    });
            };

            kuCtrl.retrieveCompanies = function () {
                    console.log("retrieving company list");
                    $http({
                        method: 'GET',
                        url: 'http://webtech.kettering.edu/~vecc0396/cs461/kuwork/company/index.php'
                    }).then(function successCallback(response) {
                        console.log("success!");
                        $scope.updateCompanyList(response);
                    }, function errorCallbac(response) {
                        console.log("Error, could not retrieve companies");
                    });
            };

            kuCtrl.retrieveResidencies = function () {
                    console.log("retrieving residence list");
                    $http({
                        method: 'GET',
                        url: 'http://webtech.kettering.edu/~vecc0396/cs461/kuwork/residence/index.php'
                    }).then(function successCallback(response) {
                        console.log("success!");
                        $scope.updateResidenceList(response);
                    }, function errorCallbac(response) {
                        console.log("Error, could not retrieve residencies");
                    });
            };
        }]);

        })();
        </script>
   </body>
</html>
